.container {
    .show-more {
        padding: 18px 300px;
        border-radius: 8px;
        margin: 0 270px 50px 270px;
        background: rgba(118, 121, 127, 0.1);
        color: #141415;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }
    .show-more:hover {
        background: rgba(77, 80, 85, 0.1);
    }
}