.slider-card {
    width: 1240px;
    height: 413px;
    border-radius: 12px;

    img {
        width: 1240px;
        height: 413px;
        object-fit: cover;
        border-radius: 12px;
    }
}

.swiper-button-next {
    width: 100px !important;
    height: 100px !important;
    background-color: black;
}